<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Files</key>
	<dict>
		<key>ACPI\SSDT-BATTERY.aml</key>
		<data>
		MowQuJ3DXH6r99KE1Y51Tg0XGUtn+te0odby5BX1NB0=
		</data>
		<key>ACPI\SSDT-EXT.aml</key>
		<data>
		2sDOIgO8SuQsIRXRq19ul/gnrwzKuj7DzsAORMtbzP8=
		</data>
		<key>ACPI\SSDT-HPET.aml</key>
		<data>
		dXhMATNbjXHF/4dL8IwwTYa5dq3p2Lg/i5bh4IhquVo=
		</data>
		<key>ACPI\SSDT-INT.aml</key>
		<data>
		+TiA6CkoHxSj/TvCUIbv2+iTNSN4EeCJ555TfcflZGk=
		</data>
		<key>ACPI\SSDT-PNLF.aml</key>
		<data>
		HTEz6Ken71gMn7PqW42PZ0rfpX3PTddusdEjFWtR/r0=
		</data>
		<key>ACPI\SSDT-PR.aml</key>
		<data>
		jE5VXybKuEhz4Ipd8HrX3h9WQsG9FWUF4DWsMBU8lM4=
		</data>
		<key>ACPI\SSDT-SMBU-MCHC.aml</key>
		<data>
		pPOnlE+Fq2isp0d7Yoplflr4P33s1rmcVfMkwP7XuSc=
		</data>
		<key>ACPI\SSDT-TTS-WAK.aml</key>
		<data>
		s0UU5Ls8BW4SKEezo42BsGJ2zEze3vf21Gle1Ldr+PI=
		</data>
		<key>ACPI\SSDT-XOSI.aml</key>
		<data>
		osxTe6FCk3sYsrQTIo5hlk/me9Jj+DjDddvu1055j80=
		</data>
		<key>Drivers\HfsPlus.efi</key>
		<data>
		pVtf/zZXiGS6Z5LExjaccfbzW2HdWoU934WDzTbDHY8=
		</data>
		<key>Drivers\OpenRuntime.efi</key>
		<data>
		p0k8QQvYj5BzbAsBN9GvY2lPwYFoplstE1H/ZMQLDWU=
		</data>
		<key>Drivers\ResetNvramEntry.efi</key>
		<data>
		VSsoexw5n+k5dImU/qEa4QuX6v+7iAzTkG3gi7CfMJo=
		</data>
		<key>Kexts\AirportItlwm_17.kext\Contents\Info.plist</key>
		<data>
		01Tb5vQ9CSAJBO5drgIHb7LZkEcZsu0zfPQHa9G1gW8=
		</data>
		<key>Kexts\AirportItlwm_17.kext\Contents\MacOS\AirportItlwm</key>
		<data>
		7IeSJVxAIZ5d4QGYyW51N8uDyu+X8FkFuiCHABIePoU=
		</data>
		<key>Kexts\AirportItlwm_18.kext\Contents\Info.plist</key>
		<data>
		LGqgD1Z9zndIGMsM7i6F99enZZ+QxMRv2IB82vtDPvk=
		</data>
		<key>Kexts\AirportItlwm_18.kext\Contents\MacOS\AirportItlwm</key>
		<data>
		4NORjZDshCLyhNY6an64J0+Kr1N8yYdAEgT3e5P/7t0=
		</data>
		<key>Kexts\AirportItlwm_19.kext\Contents\Info.plist</key>
		<data>
		KGSb7CAMbc/yVXARElSojb2JD/gBdLjXZzcJevkhyvc=
		</data>
		<key>Kexts\AirportItlwm_19.kext\Contents\MacOS\AirportItlwm</key>
		<data>
		xNioat8f8GGtQ323V/ryNf7Fe/N1ZZicM9wZ2awKTPk=
		</data>
		<key>Kexts\AirportItlwm_20.kext\Contents\Info.plist</key>
		<data>
		KGSb7CAMbc/yVXARElSojb2JD/gBdLjXZzcJevkhyvc=
		</data>
		<key>Kexts\AirportItlwm_20.kext\Contents\MacOS\AirportItlwm</key>
		<data>
		Xy4xbioxn3X5c7WbVjVKRdeQAFPMZKe8V2cLoAZvtEc=
		</data>
		<key>Kexts\AppleALC.kext\Contents\Info.plist</key>
		<data>
		sn0qL3iAagd/9Q87OXwmUs5X+Rw/jbhTGeJ4p9X3bMQ=
		</data>
		<key>Kexts\AppleALC.kext\Contents\MacOS\AppleALC</key>
		<data>
		dxnOyfV4yxT3tFQ7jg3bbnUzC+jxeOMmrs8XpyOJg3g=
		</data>
		<key>Kexts\BrcmBluetoothInjector.kext\Contents\Info.plist</key>
		<data>
		9NBc8hU2zaZmKHfe6U1aVlvTdMUJKoC7mZVJkjpSJHc=
		</data>
		<key>Kexts\BrcmFirmwareData.kext\Contents\Info.plist</key>
		<data>
		Xpa2A8pS5/kzNH5rBXrOVN+WpPWy0j8DMONsrxNzZkc=
		</data>
		<key>Kexts\BrcmFirmwareData.kext\Contents\MacOS\BrcmFirmwareData</key>
		<data>
		ufRUeNxcLUwOuXlvpMklm6Jh6KLKGJtqT0/v6mnX/A4=
		</data>
		<key>Kexts\BrcmPatchRAM2.kext\Contents\Info.plist</key>
		<data>
		aB6ycUNYQEWDONX3U94IXDIfVjls8+Y5Ncq6w8XXeY0=
		</data>
		<key>Kexts\BrcmPatchRAM2.kext\Contents\MacOS\BrcmPatchRAM2</key>
		<data>
		44dDwz8bvpQSLklOMZD9T3uRemgDvyzca8iYUdQwMqA=
		</data>
		<key>Kexts\BrcmPatchRAM3.kext\Contents\Info.plist</key>
		<data>
		lpKFuHM+rm0MC8m5yPP0vphjkF7tq6CglaqG37/K/pI=
		</data>
		<key>Kexts\BrcmPatchRAM3.kext\Contents\MacOS\BrcmPatchRAM3</key>
		<data>
		b2kEV+mULE0s/k3F4Vd6H18pSdIk2PkfX3b5il3Rjqw=
		</data>
		<key>Kexts\BrightnessKeys.kext\Contents\Info.plist</key>
		<data>
		3LZ697oy2GHOVIu1hWeXvNUcI+9mIzX9sQhlZQ17Tlo=
		</data>
		<key>Kexts\BrightnessKeys.kext\Contents\MacOS\BrightnessKeys</key>
		<data>
		dMXLwtvroK7Hb1NYLDUNfStC3JPyOoGITyiIBcet1mI=
		</data>
		<key>Kexts\IntelMausi.kext\Contents\Info.plist</key>
		<data>
		K04DvoPxSi1JzeNGnltP8wEf6Onz22vyLlAHxjeSmiQ=
		</data>
		<key>Kexts\IntelMausi.kext\Contents\MacOS\IntelMausi</key>
		<data>
		3Em09igTRwRFA71ZrNGV6tjwlJyE/E5a3XALW/G3YgA=
		</data>
		<key>Kexts\Lilu.kext\Contents\Info.plist</key>
		<data>
		/IhfMxnzJuOvYOeWWlIWtnF3LTnUCZPsaVdYu0PW6jo=
		</data>
		<key>Kexts\Lilu.kext\Contents\MacOS\Lilu</key>
		<data>
		DAFtk8/kDH+jllgTF1wbmRp289KV79W+Zq5xK0o/+1I=
		</data>
		<key>Kexts\RestrictEvents.kext\Contents\Info.plist</key>
		<data>
		EXASmgAR3ze/hXUITHMaXUkDhEB8B7eneNjsfbD2zhk=
		</data>
		<key>Kexts\RestrictEvents.kext\Contents\MacOS\RestrictEvents</key>
		<data>
		FpeSNvJywFAJE4guU0fjjVutGEHqYZ/loDEen3aK6k4=
		</data>
		<key>Kexts\SMCBatteryManager.kext\Contents\Info.plist</key>
		<data>
		CgYthnvIu7znQOnh2C36sdxwsFGHIdVZREIdD7ZxvOk=
		</data>
		<key>Kexts\SMCBatteryManager.kext\Contents\MacOS\SMCBatteryManager</key>
		<data>
		JFr4AFDNy4IQ2Z3eHSwPC2cjl/0nFlvivgfEyyonOaY=
		</data>
		<key>Kexts\SMCBatteryManager.kext\Contents\Resources\SSDT-BATC.dsl</key>
		<data>
		5mu9V+XG7w3bw6blH2j+h12EcJtz1HcuHBkyafKonks=
		</data>
		<key>Kexts\SMCProcessor.kext\Contents\Info.plist</key>
		<data>
		+e4wvr7lnS7g5M38h25/kq2rvrg3yE6i28kprkpzpag=
		</data>
		<key>Kexts\SMCProcessor.kext\Contents\MacOS\SMCProcessor</key>
		<data>
		WOoJk11VmOJa0A+WW4fEcKR8fspkHCJHDFN99nEt2jE=
		</data>
		<key>Kexts\USBMap.kext\Contents\Info.plist</key>
		<data>
		oiBEBDI8oqH95nNnTEbBVn68HtiQvYgUYzcumDwFt7A=
		</data>
		<key>Kexts\USBMapLegacy.kext\Contents\Info.plist</key>
		<data>
		xpfTCaUItyMshO+rqnL44/tYQ8lEdUB7I/BqzYCIpuY=
		</data>
		<key>Kexts\VirtualSMC.kext\Contents\Info.plist</key>
		<data>
		wZe9Csbd8tEU2APukonFyt4utjnQllegYiBsMQtKBX4=
		</data>
		<key>Kexts\VirtualSMC.kext\Contents\MacOS\VirtualSMC</key>
		<data>
		hl9zauh2VO4xYXaSFnwAS7Pigr8deyDY5Mo1PGWZBoo=
		</data>
		<key>Kexts\VoodooPS2Controller.kext\Contents\Info.plist</key>
		<data>
		iqBogWJ81FnN8pOikDA30t9HVI7ls8Zr4Xn4Y3X7Oqc=
		</data>
		<key>Kexts\VoodooPS2Controller.kext\Contents\MacOS\VoodooPS2Controller</key>
		<data>
		941r+V+0A+zN6/NZABVgbVzk6nO7eMPx8g8DzgN7TiQ=
		</data>
		<key>Kexts\VoodooPS2Controller.kext\Contents\PlugIns\VoodooInput.kext\Contents\Info.plist</key>
		<data>
		/Y1wi1Nu4vwJN9ltLsI0bRi2G/GNhzyjkjS0JXgm+b0=
		</data>
		<key>Kexts\VoodooPS2Controller.kext\Contents\PlugIns\VoodooInput.kext\Contents\MacOS\VoodooInput</key>
		<data>
		D8jxjthKw7pRQeGcieSYzFPAWtux4plQeDBxBk5Z4fY=
		</data>
		<key>Kexts\VoodooPS2Controller.kext\Contents\PlugIns\VoodooInput.kext\Contents\_CodeSignature\CodeResources</key>
		<data>
		ZobeEKKKL+EbNsu4bcusyCfPxOoRa02r8YReWu5inps=
		</data>
		<key>Kexts\VoodooPS2Controller.kext\Contents\PlugIns\VoodooPS2Keyboard.kext\Contents\Info.plist</key>
		<data>
		L8lk4DBW29KQ3ziR+NEF6rm91HEWDbLN8rIf3WNPv4c=
		</data>
		<key>Kexts\VoodooPS2Controller.kext\Contents\PlugIns\VoodooPS2Keyboard.kext\Contents\MacOS\VoodooPS2Keyboard</key>
		<data>
		tVdYIZrxsSscDl4Rb/HuZdxdhIQIblIxEDwkKlhYoeU=
		</data>
		<key>Kexts\VoodooPS2Controller.kext\Contents\PlugIns\VoodooPS2Mouse.kext\Contents\Info.plist</key>
		<data>
		dhji8OL8+gRy+ks0eBkg+0eOxVqC5pedX8Dc7eAPQ/c=
		</data>
		<key>Kexts\VoodooPS2Controller.kext\Contents\PlugIns\VoodooPS2Mouse.kext\Contents\MacOS\VoodooPS2Mouse</key>
		<data>
		1ynXug3vDjxx3tm0kIoXUqxHhMk+Yx/H8H/Pe5/fieI=
		</data>
		<key>Kexts\VoodooPS2Controller.kext\Contents\PlugIns\VoodooPS2Trackpad.kext\Contents\Info.plist</key>
		<data>
		HsVMjDZLvUB8dyA5sz445Th1K53oT2Mg7lxDBQrt2fA=
		</data>
		<key>Kexts\VoodooPS2Controller.kext\Contents\PlugIns\VoodooPS2Trackpad.kext\Contents\MacOS\VoodooPS2Trackpad</key>
		<data>
		cYWF4iagkSmK0cWmdOUyBb4wJJl5g4zqG6GOspgXXrE=
		</data>
		<key>Kexts\VoodooRMI.kext\Contents\Info.plist</key>
		<data>
		arVqUZ7SS46rHDYFYzMks9nK6pcDq26jT/ZXZTJnC+g=
		</data>
		<key>Kexts\VoodooRMI.kext\Contents\MacOS\VoodooRMI</key>
		<data>
		IBDiqW1idYyU+uloYau2wlel/qvor12G7M2j+bznqwQ=
		</data>
		<key>Kexts\VoodooRMI.kext\Contents\PlugIns\RMII2C.kext\Contents\Info.plist</key>
		<data>
		aS0nnlu8t4rWgkzINQJghiIiK4kIXg2wSIfBcfc2pVU=
		</data>
		<key>Kexts\VoodooRMI.kext\Contents\PlugIns\RMII2C.kext\Contents\MacOS\RMII2C</key>
		<data>
		LjBgGI/sCXcHyxU1CkpHj2zW5exVU81yAP+zmLJr2Jg=
		</data>
		<key>Kexts\VoodooRMI.kext\Contents\PlugIns\RMII2C.kext\Contents\_CodeSignature\CodeResources</key>
		<data>
		ZobeEKKKL+EbNsu4bcusyCfPxOoRa02r8YReWu5inps=
		</data>
		<key>Kexts\VoodooRMI.kext\Contents\PlugIns\RMISMBus.kext\Contents\Info.plist</key>
		<data>
		8O9kuyAfE8oHkw3l8XO7/rOv+KYLb/VdnNxfh0Z0AYA=
		</data>
		<key>Kexts\VoodooRMI.kext\Contents\PlugIns\RMISMBus.kext\Contents\MacOS\RMISMBus</key>
		<data>
		MmhhwGDbBdnjZtLN1gDquYlFdNb6+VzevcnbtL3IEe8=
		</data>
		<key>Kexts\VoodooRMI.kext\Contents\PlugIns\RMISMBus.kext\Contents\_CodeSignature\CodeResources</key>
		<data>
		ZobeEKKKL+EbNsu4bcusyCfPxOoRa02r8YReWu5inps=
		</data>
		<key>Kexts\VoodooRMI.kext\Contents\PlugIns\VoodooInput.kext\Contents\Info.plist</key>
		<data>
		ZyX/81UQ3eHFWnE0Vi7n3BgPHjZlksA9yFFRebHoraw=
		</data>
		<key>Kexts\VoodooRMI.kext\Contents\PlugIns\VoodooInput.kext\Contents\MacOS\VoodooInput</key>
		<data>
		ZgGYRztOh+rNULPaVQA1jXRkSwHEotGsnjSNq8a3tk8=
		</data>
		<key>Kexts\VoodooRMI.kext\Contents\PlugIns\VoodooInput.kext\Contents\_CodeSignature\CodeResources</key>
		<data>
		ZobeEKKKL+EbNsu4bcusyCfPxOoRa02r8YReWu5inps=
		</data>
		<key>Kexts\VoodooSMBus.kext\Contents\Info.plist</key>
		<data>
		usMrwUMYQ/XmzmyXMz1e/bErbhLdENbXRQg847dFaUQ=
		</data>
		<key>Kexts\VoodooSMBus.kext\Contents\MacOS\VoodooSMBus</key>
		<data>
		StE6GFakDC0qLsIj8PHBA/1pMSYqWuWncN5nsN+r2AY=
		</data>
		<key>Kexts\VoodooSMBus.kext\Contents\_CodeSignature\CodeResources</key>
		<data>
		ZobeEKKKL+EbNsu4bcusyCfPxOoRa02r8YReWu5inps=
		</data>
		<key>Kexts\WhateverGreen.kext\Contents\Info.plist</key>
		<data>
		5dSBIMr4t100X/HfJuI88Op7zO5FBm7tU7Y9wyyhPOc=
		</data>
		<key>Kexts\WhateverGreen.kext\Contents\MacOS\WhateverGreen</key>
		<data>
		RLYnOo3PTYn6RUxALxYm9X7Jp++z46LUvXDq7yxQhWI=
		</data>
		<key>Kexts\YogaSMC.kext\Contents\Info.plist</key>
		<data>
		QOHsL5/fDV0+vmqKsVpFpTyzLKu773Gkglj+nF5n1cI=
		</data>
		<key>Kexts\YogaSMC.kext\Contents\MacOS\YogaSMC</key>
		<data>
		Bzc2witm6b/uMKsVnlMiegBOxQegQwQsTD4Duq9kLm4=
		</data>
		<key>Kexts\YogaSMC.kext\Contents\_CodeSignature\CodeResources</key>
		<data>
		ZobeEKKKL+EbNsu4bcusyCfPxOoRa02r8YReWu5inps=
		</data>
		<key>Tools\ControlMsrE2.efi</key>
		<data>
		ZViIcoPZRCfbwWOjw1Mc8dc50zVhlfu8NafmJjfESQU=
		</data>
		<key>Tools\OpenShell.efi</key>
		<data>
		u4a7bj/wmONemOdirW4W3Mlc4W7O/ACTmy97Ta30UTA=
		</data>
		<key>config.plist</key>
		<data>
		W3Gu1xuZEDmXK8yWDElXBzzD4k9s/+rNInMuXvKV3eQ=
		</data>
	</dict>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
